@page "/bindProp"
@using Model
<div class="bg-light ">
	<h2 class="bg-light border p-2">
		First Room
	</h2>
	<br />
	Room: @Room.RoomName
	<br />
	Price: @Room.Price
	<br />
	<input type="number" @bind-value="@Room.Price" @bind-value:event="onchange" />
	<br />
	<div>
		<input type="checkbox" @bind-value="Room.IsActive" checked="@Room.IsActive" />
		<label>Is Active</label>
	</div>
	<div>
		<span>
			The Room is @(Room.IsActive ? "Active" : "Inactive")
		</span>
	</div>
	<select @bind="SelectedRoomProp">
		@foreach (var prop in Room.RoomProps)
		{
			<option value="@prop.Name">@prop.Name</option>
		}
	</select>
	<div>
		Property selected is: @SelectedRoomProp
	</div>
</div>

<div>
	<h3 class="text-info">Room List</h3>
	<table class="table table-dark">

		<tbody>
			@foreach (var room in RoomsList)
			{
				<tr>
					<td>
						<input type="text" @bind-value="room.RoomName" @bind-value:event="oninput" />
					</td>
					<td>
						<input type="number" @bind-value="room.Price" @bind-value:event="oninput" />
					</td>
					@foreach (var prop in room.RoomProps)
					{
						<td>@prop.Name - @prop.Value</td>
					}
				</tr>
			}
		</tbody>
	</table>
	<br />
	@foreach (var room in RoomsList)
	{
		<p>@room.RoomName price is at $ @room.Price</p>
	}
</div>

@code {

	string SelectedRoomProp = "";
	List<BlazorRoom> RoomsList = new List<BlazorRoom>();

	protected override void OnInitialized()
	{
		base.OnInitialized();
		this.RoomsList.Add(new BlazorRoom()
		{
			Id = 201,
			RoomName = "Villa Serena One Bed Room",
			IsActive = true,
			Price = 399,
			RoomProps = new List<BlazorRoomProp> {
			new BlazorRoomProp {Id = 1, Name="Sq m", Value = "300"},
			new BlazorRoomProp {Id = 2, Name="Occupancy", Value = "4"}
			}
		});

		this.RoomsList.Add(new BlazorRoom()
		{
			Id = 1,
			RoomName = "Villa Serena Two Bed Room",
			IsActive = true,
			Price = 699,
			RoomProps = new List<BlazorRoomProp> {
			new BlazorRoomProp {Id = 1, Name="Sq m", Value = "150"},
			new BlazorRoomProp {Id = 2, Name="Occupancy", Value = "6"},
			new BlazorRoomProp {Id = 3, Name="Features", Value = "SPA"}
			}
		});
	}

	BlazorRoom Room = new BlazorRoom()
	{
		Id = 1,
		RoomName = "Villa Serena",
		IsActive = true,
		Price = 499,
		RoomProps = new List<BlazorRoomProp> {
			new BlazorRoomProp {Id = 1, Name="Sq m", Value = "100"},
			new BlazorRoomProp {Id = 2, Name="Occupancy", Value = "3"}
		}
	};
}